<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Affordable Shopping list Services">
	  <meta name="keywords" content="web Shopping list, affordable web Shopping list.">
  	<meta name="author" content="Sam Mbugua">
    <title>Acme Shopping | About</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
  </head>
  <body>
    <header>
      <div class="container">
        <div id="branding">
          <h1><span class="highlight">Acme</span> Shopping Web </h1>
        </div>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li class="current"><a href="/about/">About</a></li>
            <li><a href="/services/">Services</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <section id="newsletter">
      <div class="container">
        <h1>Subscribe To Our Newsletter</h1>
        <form>
          <input type="email" placeholder="Enter Email...">
          <button type="submit" class="button_1">Subscribe</button>
        </form>
      </div>
    </section>

    <section id="main">
      <div class="container">
        <article id="main-col">
          <h1 class="page-title">About Us</h1>
          <p>
            Acme web Shopping list is an online company that helps you to
            keep track of all of your shopping items.We keep a list of the
            items you wish to buy to help you remember everything.We also 
            give you a special chance to enable you to send your desired 
            list to your friends or people who can shop on your behalf.
          </p>
          <p class="dark">
Acme is a new company in kenya located at Nairobi, but we wish to expand our offices to all parts of the world.We only operate through the website services but soon we will introduce a mobile application to enable our services to reach out as many people as possible.Now the problem of scrating our heads while trying to remember what we intended to buy is over.We are here to make the world a better place with you ofcourse helping us out.
          </p>
        </article>

        <aside id="sidebar">
          <div class="dark">
            <h3>How We Opreate</h3>
            <p>Acme is a simple website to use but makes the world a better place, every user is required to create an account with acme so as to enjoy the features.Upon creation of an account the user will create a list of items he/she wish to buy later.The user can also share the list he/she makes</p>
          </div>
        </aside>
      </div>
    </section>

    <footer>
      <p>Acme Web Shopping, Copyright &copy; 2017</p>
    </footer>
  </body>
</html>
